* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Black Han Sans', sans-serif;
    color: rgba(220, 20, 60, 1);
    text-decoration: none;
    font-size: 20px;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: rgba(220, 220, 220, 1);
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 10px 30px;
    background-color: rgba(245, 245, 245, 1);
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 6px 3px;
}

.logo {
    width: 80px;
    height: 80px;
}

.logIn_section {
    font-size: 28px;
}

.logIn_section > span {
    font-size: 28px;
  }

#signIn, #signUp {
    cursor: pointer;
}

.add {
    font-size: 20px;
    width: 100px;
    height: 40px;
    display: none;
    border-radius: 10px;
    box-shadow: rgba(128, 128, 128, 1) 3px 2px 10px 2px;
    background-color: rgba(230, 230, 230, 1);
    color: rgba(220, 20, 60, 1);
    border: none;
    cursor: pointer;
}

.add:hover {
    color: white;
    background-color: rgba(220, 20, 60, 1);
    transition: 0.5s;
}

.slide {
    position: relative;
    width: 100%;
    height: 300px;
    margin: 0px auto;
    overflow: hidden;
    box-shadow: rgb(0 0 0 / 30%) 0px 0px 6px 3px;
    margin-top: 30px;
}

.slideul {
    display: flex;
    margin: 0px auto;
    width: 300%;
    height: 350px;
}

.slide1,
.slide2,
.slide3 {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 350px;
}

.slide1 {
    background-image: url('https://unsplash.com/photos/jh5XyK4Rr3Y/download?ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjc3ODE0NTI2&force=true&w=1920');
}

.slide2 {
    background-image: url('https://unsplash.com/photos/bpPTlXWTOvg/download?ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjc3ODE0NTY0&force=true&w=1920');
}

.slide3 {
    background-image: url('https://unsplash.com/photos/-YHSwy6uqvk/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8OHx8Zm9vZHxrb3wwfHx8fDE2Nzc4MTQ0MDg&force=true&w=1920');
}

.slide>p {
    font-size: 70px;
    font-weight: bold;
    color: rgba(128, 128, 128, 1);
    opacity: 0.7;
    cursor: pointer;
}

#left {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    transition: 0.5s;
}

#right {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    transition: 0.5s;
}

#left:hover {
    color: rgba(220, 20, 60, 1);
}

#right:hover {
    color: rgba(220, 20, 60, 1);
}

.middle {
    position: relative;
    width: 1070px;
    height: 330px;
    margin: 30px auto 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.middle2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 28px;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 6px 3px;
    background-color: rgba(240, 240, 240, 1);
}

#left1 {
    position: absolute;
    top: 50%;
    left: -6%;
    transform: translateY(-50%);
    transition: 0.5s;
    color: rgba(180, 180, 180, 0.5);
    font-size: 50px;
    cursor: pointer;
}

#right1 {
    position: absolute;
    top: 50%;
    right: -6%;
    transform: translateY(-50%);
    transition: 0.5s;
    color: rgba(180, 180, 180, 0.5);
    font-size: 50px;
    cursor: pointer;
}

#left1:hover {
    color: rgba(220, 20, 60, 1);
    text-shadow: 3px 2px 5px rgba(128, 128, 128, 1);
}

#right1:hover {
    color: rgba(220, 20, 60, 1);
    text-shadow: 3px 2px 5px rgba(128, 128, 128, 1);
}

.sub_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 65px;
    padding: 15px 32px 17px;
    border-radius: 28px 28px 0px 0px;
    background-color: rgba(250, 250, 250, 1);
    text-shadow: 1px 1px 5px rgba(128, 128, 128, 0.7);
    font-size: 20px;
}

.part {
    border-radius: 5px;
    background-color: rgb(128, 128, 128);
}

.list_box {
    position: relative;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    width: 1186px;
    height: 100%;
}

.list {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 18px;
    width: 1070px;
    height: 100%;
    padding-left: 32px;
    padding-right: 32px;
    /* transition-duration: 250ms; */
    /* overflow: hidden; */
}

.list > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
    width: 200px;
    height: 250px;
}

.img_box {
    position: relative;
    user-select: none;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    cursor: pointer;
    width: 200px;
    height: 200px;
    border-radius: 14px;
    overflow: hidden;
    z-index: 30;
}

.img_box > img {
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    border-radius: 14px;
}

.more {
    width: 100px;
    height: 50px;
    display: block;
    margin: 0px auto;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: rgba(128, 128, 128, 1) 3px 2px 10px 2px;
    background-color: rgba(230, 230, 230, 1);
    color: rgba(220, 20, 60, 1);
    border: none;
    cursor: pointer;
}

.more:hover{
    color: white;
    background-color: rgba(220, 20, 60, 1);
    transition: 0.5s;
}

#logBox{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 350px;
    border-radius: 7px;
    background-color: rgba(220, 220, 220, 1);
    box-shadow: rgb(0 0 0 / 30%) 0px 0px 6px 7px;
}

.idpas{
    display: flex;
    flex-flow: column;
    width: 300px;
    height: 100px;
}

.idpas>input:nth-child(1){
    height: 50px;
    border: none;
    outline: 2px solid rgba(220, 20, 60, 0.5);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: rgba(255,255,255,1);
    padding-left: 30px;
    font-size: 16px;
    color: rgba(220, 20, 69, 1);
}

.idpas>input:nth-child(2){
    height: 50px;
    border: none;
    outline: 2px solid rgba(220, 20, 60, 0.5);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: rgba(255,255,255,1);
    padding-left: 30px;
    font-size: 16px;
    color: rgba(220, 20, 60, 1);
}

input::placeholder{
    color: rgba(220, 20, 60, 0.3);
    font-size: 16px;
}

.logBtn{
    width: 300px;
    height: 50px;
    border: none;
    background-color: rgba(220, 20, 60, 1);
    color: rgba(220, 220, 220, 1);
    font-size: 20px;
    border-radius: 7px;
    cursor: pointer;
}

.findInfo{
    margin: 15px 0px 25px 0px;
}

.findInfo>a{
    color: rgba(220, 20, 60, 1);
}

.findInfo>a + a::before{
    content: '';
    display: inline-block;
    width: 2px;
    height: 15px;
    margin: 0 8px 0px 8px;
    background-color: rgba(220, 20, 60, 0.5);
    vertical-align: -2px;
}

#logBox > i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.blur{
    opacity: 0.3;
    transition: 0.5s;
}

#signUpBox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 500px;
    border-radius: 7px;
    background-color: rgba(220, 220, 220, 1);
    box-shadow: rgb(0 0 0 / 30%) 0px 0px 6px 7px;
    padding-bottom: 15px;
}

input[required]+label:after{
    content: '*';
    color: red;
    font-size: 30px;
}

.top {
    font-size: 40px;
    text-align: center;
}

#signUpBox > i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

#signUpBox > section {
    width: 100%;
    height: 50px;
    padding-left: 102px;
}

#signUpBox > section:nth-child(1) {
    padding-left: 0px;
}

#signUpBox > section > input {
    width: 300px;
    height: 50px;
    font-size: 16px;
    padding-left: 30px;
    border-radius: 7px;
    border: none;
    outline: 2px solid rgba(220, 20, 60, 0.5);
}

.suBtn{
    width: 300px;
    height: 50px;
    border: none;
    background-color: rgba(220, 20, 60, 1);
    color: rgba(220, 220, 220, 1);
    font-size: 20px;
    border-radius: 7px;
    cursor: pointer;
}