* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Black Han Sans', sans-serif;
  color: rgba(70, 70, 70, 1);
  text-decoration: none;
  font-size: 20px;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: rgba(220, 220, 220, 1);
}

.blur {
  opacity: 0.3;
  transition: 0.5s;
}

.banner {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 30px 10px 30px;
  background-color: rgba(245, 245, 245, 1);
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 6px 3px;
  z-index: 50;
}

.logo {
  width: 180px;
  height: 60px;
}

.logIn_section>span {
  font-size: 28px;
  color: rgba(220, 20, 60, 1);
}

#signIn, #signUp {
  cursor: pointer;
}

.bodyCont {
  padding-top: 85px;

}

.mainCont {
  margin-top: 30px;
}

.img-dummy {
  width: 700px;
  height: 600px;
  background-color: rgba(245, 245, 245, 1);
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 6px 5px;
}

.foodBox {
  height: 300px;
  width: 670px;
  margin: 17px auto;
}

.dummy-food {
  height: 300px;
  width: 670px;
  margin: 17px auto;
  object-fit: cover;
  object-position: center;
  background-image: url("https://cdn-std-web-216-59.cdn-nhncommerce.com/dothegmal4_godomall_com/data/goods/21/06/22/1000000242/1000000242_detail_071.jpg");
}

.imgdMiddle {
  height: 170px;
}

.dummy-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 25px;
  height: 130px;
}

.dummy-column > div {
  color: rgba(130, 130, 130, 1);
}

.dummy-column > div:nth-child(1) {
  font-size: 50px;
  color: rgba(70, 70, 70, 1);
}

.dummy-column > div:nth-child(4) > span:nth-child(1) {
  color: rgba(130, 130, 130, 1);
}

.dummy-column > div:nth-child(4) > span:nth-child(2) {
  color: rgba(220, 20, 60, 1);
  font-size: 30px;
}

.imgdBottom {
  height: 100px;
}

.imgdBtnBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0px 25px;
  border-top: 1px solid rgba(220, 220, 220, 1);
}

.imgdBtnBox > button {
  width: 150px;
  height: 70px;
  border: none;
  background-color:rgba(240, 240, 240, 1);
  color: rgba(220, 20, 60, 1);
  font-size: 20px;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 6px 7px;
}

.imgdBtnBox > button > p {
  color: rgba(220, 20, 60, 1);
}

.imgdBtnBox > button:nth-child(2):hover {
  color: rgba(240, 240, 240, 1);
  background-color: rgba(220, 20, 60, 1);
  transition: 0.5s;
}

/* .review-dummy{
  position: relative;
  width: 700px;
  height: 600px;
  margin: 30px auto;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(245, 245, 245, 1);
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 6px 5px;
}

.reviewTitle > p {
  font-size: 50px;
}

.rdMiddle1 {
  width: 70%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rdMiddle1 > div {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100px;
}

.rdMiddle1 > div > label {
  font-size: 30px;
}

.rdMiddle1 > div > input {
  width: 250px;
  height: 50px;
  font-size: 16px;
  padding-left: 30px;
  border-radius: 7px;
  border: none;
  outline: 2px solid rgba(220, 20, 60, 0.5);
}

.form-select {
  height: 52px;
  padding: 13px 0px;
  border-radius: 7px;
  border: none;
  outline: 2px solid rgba(220, 20, 60, 0.5);
  font-size: 16px;
}

.rdMiddle2 {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 70%;
  height: 300px;
}

.rdMiddle2 > div {
  height: 250px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
}

.rdMiddle2 > div > label {
  font-size: 30px;
}

.rdMiddle2 > div > input {
  width: 490px;
  height: 200px;
  font-size: 16px;
  padding-left: 30px;
  border-radius: 7px;
  border: none;
  outline: 2px solid rgba(220, 20, 60, 0.5);
}

.pushBtn {
  width: 300px;
  height: 50px;
  border: none;
  background-color:rgba(240, 240, 240, 1);
  color: rgba(220, 20, 60, 1);
  font-size: 20px;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 6px 7px;
}

.pushBtn:hover {
  color: rgba(240, 240, 240, 1);
  background-color: rgba(220, 20, 60, 1);
  transition: 0.5s;
}

.review-dummy > i {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
} */

.reviewCont {
  margin-top: 30px;
}

.userReview {
  width: 700px;
  height: 500px;
  background-color: rgba(245, 245, 245, 1);
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 6px 5px;
}

.urTop {
  width: 100%;
  height: 60px;
  display: flex;
  flex-flow: column;
  padding: 25px 25px;
}

.urMiddle {
  width: 100%;
  height: 55%;
  padding: 0px 25px;
}

.urBottom {
  width: 100%;
  height: 100px;
  padding: 0px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(220, 220, 220, 1);
}

.symBtn {
  width: 150px;
  height: 70px;
  border: none;
  background-color:rgba(240, 240, 240, 1);
  color: rgba(220, 20, 60, 1);
  font-size: 20px;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 6px 7px;
}

.symBtn > p {
  color: rgba(220, 20, 60, 1);
}

.review-dummy{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 600px;
  height: 600px;
  margin: 30px auto;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(245, 245, 245, 1);
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 6px 5px;
}

.reviewTitle > p {
  font-size: 50px;
}

.rdMiddle1 {
  width: 70%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rdMiddle1 > div {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100px;
}

.rdMiddle1 > div > label {
  font-size: 30px;
}

.rdMiddle1 > div > input {
  width: 250px;
  height: 50px;
  font-size: 16px;
  padding-left: 30px;
  border-radius: 7px;
  border: none;
  outline: 2px solid rgba(220, 20, 60, 0.5);
}

.form-select {
  height: 52px;
  padding: 13px 0px;
  border-radius: 7px;
  border: none;
  outline: 2px solid rgba(220, 20, 60, 0.5);
  font-size: 16px;
}

.rdMiddle2 {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 70%;
  height: 300px;
}

.rdMiddle2 > div {
  height: 250px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
}

.rdMiddle2 > div > label {
  font-size: 30px;
}

.rdMiddle2 > div > input {
  width: 420px;
  height: 200px;
  font-size: 16px;
  padding-left: 30px;
  border-radius: 7px;
  border: none;
  outline: 2px solid rgba(220, 20, 60, 0.5);
}

.pushBtn {
  width: 300px;
  height: 50px;
  border: none;
  background-color:rgba(240, 240, 240, 1);
  color: rgba(220, 20, 60, 1);
  font-size: 25px;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 6px 7px;
}

.pushBtn:hover {
  color: rgba(240, 240, 240, 1);
  background-color: rgba(220, 20, 60, 1);
  transition: 0.5s;
}

.review-dummy > i {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

#logBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  height: 350px;
  border-radius: 7px;
  background-color: rgba(245, 245, 245, 1);
  box-shadow: rgb(0 0 0 / 30%) 0px 0px 6px 7px;
}

.top > p {
  font-size: 40px;
  text-align: center;
}

.idpas {
  display: flex;
  flex-flow: column;
  width: 300px;
  height: 100px;
}

.idpas>input:nth-child(1) {
  height: 50px;
  border: none;
  outline: 2px solid rgba(220, 20, 60, 0.5);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-color: rgba(255, 255, 255, 1);
  padding-left: 30px;
  font-size: 16px;
  color: rgba(220, 20, 69, 1);
}

.idpas>input:nth-child(2) {
  height: 50px;
  border: none;
  outline: 2px solid rgba(220, 20, 60, 0.5);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  background-color: rgba(255, 255, 255, 1);
  padding-left: 30px;
  font-size: 16px;
  color: rgba(220, 20, 60, 1);
}

input::placeholder {
  color: rgba(220, 20, 60, 0.3);
  font-size: 16px;
}

.logBtn {
  width: 300px;
  height: 50px;
  border: none;
  background-color:rgba(240, 240, 240, 1);
  color: rgba(220, 20, 60, 1);
  font-size: 20px;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 6px 7px;
}

.logBtn:hover {
  color: rgba(240, 240, 240, 1);
  background-color: rgba(220, 20, 60, 1);
  transition: 0.5s;
}

.findInfo {
  margin: 15px 0px 25px 0px;
}

.findInfo > a {
  color: rgba(220, 20, 60, 1);
}

.findInfo>a+a::before {
  content: '';
  display: inline-block;
  width: 2px;
  height: 15px;
  margin: 0 8px 0px 8px;
  background-color: rgba(220, 20, 60, 0.5);
  vertical-align: -2px;
}

#logBox > i {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

#signUpBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  height: 500px;
  border-radius: 7px;
  background-color: rgba(245, 245, 245, 1);
  box-shadow: rgb(0 0 0 / 30%) 0px 0px 6px 7px;
  padding-bottom: 15px;
}

input[required]+label:after {
  content: '*';
  color: red;
  font-size: 30px;
}

#signUpBox>section {
  width: 100%;
  height: 50px;
  padding-left: 102px;
}

#signUpBox>section:nth-child(1) {
  padding-left: 0px;
}

#signUpBox > section > input {
  width: 300px;
  height: 50px;
  font-size: 16px;
  padding-left: 30px;
  border-radius: 7px;
  border: none;
  outline: 2px solid rgba(220, 20, 60, 0.5);
}

.suBtn {
  width: 300px;
  height: 50px;
  border: none;
  background-color:rgba(240, 240, 240, 1);
  color: rgba(220, 20, 60, 1);
  font-size: 20px;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 6px 7px;
}

.suBtn:hover {
  color: rgba(240, 240, 240, 1);
  background-color: rgba(220, 20, 60, 1);
  transition: 0.5s;
}

#signUpBox > i {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}