<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/detail.css">
  <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin">
  <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <title>미슐랭4스타</title>
</head>

<body>
  <div id="sketch">
    <section class="banner">
      <a href="/"><img class="logo" src="https://i.ibb.co/0V4mdTc/M4S-Logo.png" alt="M4S-Logo"></a>
      <div class="logIn_section">
        <span id="signIn">로그인</span>
        <span>|</span>
        <span id="signUp">회원가입</span>
      </div>
    </section>
    <section class="bodyCont">
      <section class="mainCont">
        <div class="img-dummy">
          <section class="imgdTop">
            <div class="foodBox">
              <img class="dummy-food" src={{data.image}}>
            </div>
          </section>
          <section class="imgdMiddle">
            <div class="dummy-column" id="info">
              <div id="shopname">{{data.shop}}</div>
              <div>{{data.place}}</div>
              <div>{{data.menu}}</div>
              <div>
                <span>별점</span>
                <span>{{data.star}}</span>
              </div>
            </div>
          </section>
          <section class="imgdBottom">
            <div class="imgdBtnBox">
              <button class="likeBtn">
                <p>좋아요</p>
                <p class="likeCnt">0</p>
              </button>
              <button class="writeReviewBtn">평가하기</button>
            </div>
          </section>
        </div>
      </section>
      <section class="reviewCont" id="reviewCont">
        <div class="userReview">
          <div class="urTop">
            <p>아이디</p>
            <p>별점</p>
          </div>
          <div class="urMiddle">
            <div>내용</div>
          </div>
          <div class="urBottom">
            <button class="symBtn1">
              <p>공감</p>
              <p class="symCnt1">0</p>
            </button>
          </div>
        </div>
        <div class="userReview">
          <div class="urTop">
            <p>아이디</p>
            <p>별점</p>
          </div>
          <div class="urMiddle">
            <div>내용</div>
          </div>
          <div class="urBottom">
            <button class="symBtn2">
              <p>공감</p>
              <p class="symCnt2">0</p>
            </button>
          </div>
        </div>
        <div class="userReview">
          <div class="urTop">
            <p>아이디</p>
            <p>별점</p>
          </div>
          <div class="urMiddle">
            <div>내용</div>
          </div>
          <div class="urBottom">
            <button class="symBtn3">
              <p>공감</p>
              <p class="symCnt3">0</p>
            </button>
          </div>
        </div>
      </section>
    </section>
  </div>

  <div id="logBox">
    <section class="top">
      <p>로그인</p>
    </section>
    <section class="idpas">
      <input type="id" placeholder="id" class="iid">
      <input type="password" placeholder="password" class="ipw">
    </section>
    <section class="btnar">
      <button class="logBtn">로그인</button>
    </section>
    <section class="findInfo">
      <a href="#">아이디 찾기</a>
      <a href="#">비밀번호 찾기</a>
      <a href="#">회원가입</a>
    </section>
    <i class="xi-close"></i>
  </div>

  <div id="signUpBox">
    <section class="top">
      <p>회원 가입</p>
    </section>
    <section class="ci">
      <input type="text" name="ci" placeholder="닉네임" class="uci" required="required">
      <label for="ci"></label>
    </section>
    <section class="id">
      <input type="text" name="id" placeholder="id 입력" class="uid" required="required">
      <label for="id"></label>
    </section>
    <section class="pw">
      <input type="password" name="pw" placeholder="password 입력" class="upw" required="required">
      <label for="pw"></label>
    </section>
    <section class="ph">
      <input type="text" name="ph" placeholder="연락처" class="uph">
      <label for="ph"></label>
    </section>
    <section class="su">
      <button class="suBtn">가입 완료</button>
    </section>
    <i class="xi-close"></i>
  </div>

  <div class="review-dummy">
    <section class="rdTop">
      <div class="reviewTitle">
        <p>맛집 리뷰</p>
      </div>
    </section>
    <section class="rdMiddle1">
      <div class="userNamec">
        <label>아이디</label>
        <input id="userNamei" type="text" class="form-control" placeholder="아이디" required="required">
      </div>
      <div class="starPoint">
        <label class="input-group-text" for="inputGroupSelect01">별점</label>
        <select class="form-select" id="reviewStar">
          <option selected>-- 선택하기 --</option>
          <option value="1">⭐</option>
          <option value="2">⭐⭐</option>
          <option value="3">⭐⭐⭐</option>
          <option value="4">⭐⭐⭐⭐</option>
          <option value="5">⭐⭐⭐⭐⭐</option>
        </select>
      </div>
    </section>
    <section class="rdMiddle2">
      <div class="reviewc">
        <label>리뷰 작성</label>
        <input id="reviewi" type="text" class="form-control" placeholder="리뷰를 입력해주세요." required="required">
      </div>
    </section>
    <section class="rdBottom">
      <button onclick="saveReview()" class="pushBtn">등록 하기</button>
    </section>
    <i class="xi-close"></i>
  </div>
</body>

</html>

<script>
  $('#logBox').hide();

  $('#signIn').click(function () {
    $('#signUpBox').hide();
    $('#logBox').fadeIn(500);
    $('#sketch').addClass('blur');
    $('#sketch').css("pointer-events", "none");
  });

  $('#logBox>i').click(function () {
    $('#signUpBox').hide();
    $('#logBox').hide();
    $('#addBox').hide();
    $('#sketch').removeClass('blur');
    $('#sketch').css("pointer-events", "auto");
    $('.iid').val('');
    $('.ipw').val('');
  });

  $('.logBtn').click(function () {
    if ($('.iid').val() == 'michelin' && $('.ipw').val() == '4star') {
      alert('반가워요!');
      $('#signUpBox').hide();
      $('#logBox').hide();
      $('#addBox').hide();
      $('#sketch').removeClass('blur');
      $('#sketch').css("pointer-events", "auto");
      $('.iid').val('');
      $('.ipw').val('');
      $('.logIn_section').css('display', 'none');
    } else {
      alert('id또는 pw를 다시 입력해 주세요!');
    }
  })

  $('#signUpBox').hide();

  $('#signUp').click(function () {
    $('#logBox').hide();
    $('#signUpBox').fadeIn(500);
    $('#sketch').addClass('blur');
    $('#sketch').css("pointer-events", "none");
  });

  $('#signUpBox>i').click(function () {
    $('#logBox').hide();
    $('#signUpBox').hide();
    $('#addBox').hide();
    $('#sketch').removeClass('blur');
    $('#sketch').css("pointer-events", "auto");
  });

  $('.suBtn').click(function () {
    if ($('.uci').val() == '') {
      alert('닉네임은 필수 입력 사항 입니다!')
    } else if ($('.uid').val() == '') {
      alert('id는 필수 입력 사항 입니다!');
    } else if ($('.upw').val() == '') {
      alert('pw는 필수 입력 사항 입니다!');
    } else {
      alert('가입이 완료 되었습니다!');
      $('#logBox').hide();
      $('#signUpBox').hide();
      $('#addBox').hide();
      $('#sketch').removeClass('blur');
      $('#sketch').css("pointer-events", "auto");
      $('.uci').val('');
      $('.uid').val('');
      $('upw').val('');
      $('uph').val('');
    }
  });

  $('.review-dummy').hide();

  $('.writeReviewBtn').click(function () {
    // let logInCss = $('.logIn_section').css('display');
    // if (logInCss == 'block') {
    //   alert('로그인후 이용해 주세요!');
    // } else {
    $('.review-dummy').fadeIn(500);
    $('#sketch').addClass('blur');
    $('#sketch').css("pointer-events", "none");
    // }
  });

  $('.review-dummy>i').click(function () {
    $('#signUpBox').hide();
    $('#logBox').hide();
    $('.review-dummy').hide();
    $('#sketch').removeClass('blur');
    $('#sketch').css("pointer-events", "auto");
    $('#userNamei').val('');
    $('#reviewi').val('');
    $('#reviewStar').val('-- 선택하기 --');
  });

  $(document).ready(function () {
    review_listing();
  });

  function review_listing() {
    let reviewlist = JSON.parse('{{ data1 | tojson}}');
    console.log(reviewlist)
    $('#reviewCont').empty()
    reviewlist.forEach((a) => {
      console.log(a)
      let userid = a['userID']
      let txt_review = a['Txt_review']
      let starpoint = a['StarPoint_review']

      let temp_html = `<div class="userReview">
                        <div class="urTop">
                          <p>아이디 ${userid}</p>
                          <p>별점 ${starpoint}</p>
                        </div>
                        <div class="urMiddle">
                          <div>내용 ${txt_review}</div>
                        </div>
                        <div class="urBottom">
                          <button class="symBtn1">
                            <p>공감</p>
                            <p class="symCnt1">0</p>
                          </button>
                        </div>
                      </div>`
      $('#reviewCont').append(temp_html)
    });
  }

  function saveReview() {
    if ($('#userNamei').val() == 0 || $('#reviewi').val() == 0 || $('#reviewStar').val() == '-- 선택하기 --') {
      alert('닉네임 & 별점 & 리뷰를 입력해 주세요!');
    } else {
      let userID = $('#userNamei').val()
      let Txt_review = $('#reviewi').val()
      let StarPoint_review = $('#reviewStar').val()
      let shop = document.querySelector("#shopname").textContent

      let formData = new FormData();
      formData.append("userID_give", userID);
      formData.append("Txt_review_give", Txt_review);
      formData.append("StarPoint_review_give", StarPoint_review);
      formData.append("shop_give", shop);

      fetch('/saveReview', { method: "POST", body: formData }).then((res) => res.json()).then((data) => {
        console.log(data);
        alert(data["msg"]);
      });

      $('#signUpBox').hide();
      $('#logBox').hide();
      $('.review-dummy').hide();
      $('#sketch').removeClass('blur');
      $('#sketch').css("pointer-events", "auto");
      $('#userNamei').val('');
      $('#reviewi').val('');
      $('#reviewStar').val('-- 선택하기 --');
    };
  };

  let count1 = 0;
  $('.likeBtn').click(function () {
    count1++;
    let test = $('.likeCnt').html(count1);
    // let likeCount = count

    // let formData = new FormData();
    // formData.append("likeCount_give", likeCount);

    // fetch('/save', { method: "POST", body: formData }).then((res) => res.json()).then((data) => {
    //   console.log(data);
    //   alert(data["msg"]);
    // });
  });

  let count2 = 0;
  $('.symBtn1').click(function () {
    count2++;
    let test = $('.symCnt1').html(count2);
    // let likeCount = count

    // let formData = new FormData();
    // formData.append("likeCount_give", likeCount);

    // fetch('/save', { method: "POST", body: formData }).then((res) => res.json()).then((data) => {
    //   console.log(data);
    //   alert(data["msg"]);
    // });
  });

  let count3 = 0;
  $('.symBtn2').click(function () {
    count3++;
    let test = $('.symCnt2').html(count3);
    // let likeCount = count

    // let formData = new FormData();
    // formData.append("likeCount_give", likeCount);

    // fetch('/save', { method: "POST", body: formData }).then((res) => res.json()).then((data) => {
    //   console.log(data);
    //   alert(data["msg"]);
    // });
  });

  let count4 = 0;
  $('.symBtn3').click(function () {
    count4++;
    let test = $('.symCnt3').html(count4);
    // let likeCount = count

    // let formData = new FormData();
    // formData.append("likeCount_give", likeCount);

    // fetch('/save', { method: "POST", body: formData }).then((res) => res.json()).then((data) => {
    //   console.log(data);
    //   alert(data["msg"]);
    // });
  });
</script>