<!-- DB 연습페이지로 만든겁니다. -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>4조 팀페이지 연습</title>

    <style>
    </style>

    <script>
        $(document).ready(function () {
            show_list();
        });
        function show_list() {
            fetch('/example').then((res) => res.json()).then((data) => {
                let rows = data['result']
                $('#lists').empty()
                rows.forEach((a) => {
                    let title = a['title']
                    let text = a['text']

                    let temp_html = `<tr>
                                        <td>${title}</td>
                                        <td>${text}</td>
                                    </tr>`
                    $('#lists').append(temp_html)
                });
            })
        }
        function add_list() {
            let title = $('#title').val()
            let text = $('#text').val()

            let formData = new FormData();
            formData.append("title_give", title);
            formData.append("text_give", text);

            fetch('/example', { method: "POST", body: formData }).then((res) => res.json()).then((data) => {
                alert(data["msg"]);
                window.location.reload()
            });
        }
    </script>
</head>

<body>
    <h1>DB테스트</h1>
    <div>
        제목<input id="title">
        설명<input id="text">
        <button onclick="add_list()">저장</button>
    </div>
    <div id="lists">
    </div>
</body>

</html>